flows.json
[{"id":"c1e8a66d.9fe938","type":"tab","label":"物流信用スコア","disabled":false,"info":""},{"id":"adb4509e.38bbe","type":"http in","z":"c1e8a66d.9fe938","name":"","url":"/recognize","method":"get","upload":false,"swaggerDoc":"","x":120,"y":60,"wires":[["add42fca.c9fb1"]]},{"id":"ce7a70b9.a134a","type":"http response","z":"c1e8a66d.9fe938","name":"","x":482.9999694824219,"y":123.49996948242188,"wires":[]},{"id":"59cd0c74.ac6df4","type":"http in","z":"c1e8a66d.9fe938","name":"","url":"/recognize","method":"post","upload":false,"swaggerDoc":"","x":106,"y":201,"wires":[["c7dd5ca1.0cf9e"]]},{"id":"c7dd5ca1.0cf9e","type":"function","z":"c1e8a66d.9fe938","name":"URL抽出","func":"msg.payload = msg.payload.imageurl;\nreturn msg;\n","outputs":1,"noerr":0,"x":290,"y":223.5,"wires":[["65129d2c.38acd4"]]},{"id":"15e7f918.d9e5f7","type":"template","z":"c1e8a66d.9fe938","name":"結果画面","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <title>Watson Visual Recognition</title>\n    </head>\n    <body>\n        <h1>物流信用チェッカー　解析結果</h1>\n        {{^result}}\n        <br/><font size=\"+2\" color=\"red\">No data</font>\n        {{/result}}\n        {{#result}}\n        {{#images}}\n        <h2>解析対象イメージ</h2> image: {{source_url}}<br/>\n        <img src=\"{{source_url}}\" height='50%'/>\n        <table border='1'>\n            <thead><tr><th>分類</th><th>スコア(判定)</th></tr></thead>\n            <tbody>\n                {{#classifiers}}\n                {{#classes}}\n                <tr>\n                    <td><b>{{class}}</b></td><td><i>{{score}}</i></td>\n               </tr>\n               {{/classes}}\n                {{/classifiers}}\n            </tbody>\n        </table>\n        {{/images}}\n        {{/result}}\n        <hr/>\n        <form  action=\"{{req._parsedUrl.pathname}}\">\n            <input type=\"submit\" value=\"もう一度解析\"/>\n        </form>\n    </body>\n</html>\n","x":654.7666015625,"y":257.3999938964844,"wires":[["5d08151f.08ab4c"]]},{"id":"5d08151f.08ab4c","type":"http response","z":"c1e8a66d.9fe938","name":"","statusCode":"","headers":{},"x":736.7666015625,"y":342.1833190917969,"wires":[]},{"id":"add42fca.c9fb1","type":"template","z":"c1e8a66d.9fe938","name":"入力画面","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n<head>\n<title>Watson Visual Recognition</title>\n</head>\n<body>\n<h1>物流信用チェッカーで画像で解析！</h1>\n<H2>どの組織の物流品質を評価しますか。</H2>\n<h2>スコア値:OK or SAFEが0.65以上で合格</h2>\n    <img src=\"https://pbs.twimg.com/media/DoKlGU6VAAEr1dJ.jpg\" height='200'/>\n    <img src=\"https://grapee.jp/wp-content/uploads/20483_03-1.jpg\" height='200'/>\n    <img src=\"https://pbs.twimg.com/media/DouaZ59U4AASdlO.jpg\" height='200'/>\n    <br/>\n    <br/>\n    上の事例画像をドラッグ&ドロップするか、画像URLを入力してください。<br/>\n    <br/>\n<form action=\"/recognize\" method=\"POST\">\n画像のURL：<input type=\"text\" name=\"imageurl\">\n<input type=\"submit\" value=\"解析！\">\n</form>\n</body>\n</html>","x":299,"y":93.03329467773438,"wires":[["ce7a70b9.a134a"]]},{"id":"65129d2c.38acd4","type":"function","z":"c1e8a66d.9fe938","name":"カスタム","func":"msg.params = {};\nmsg.params.classifier_ids = \"DefaultCustomModel_28743749\";\nmsg.params.threshold = \"0.2\";\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":400,"wires":[["23ee9bd7.2cabf4"]]},{"id":"23ee9bd7.2cabf4","type":"visual-recognition-v3","z":"c1e8a66d.9fe938","name":"","vr-service-endpoint":"https://gateway.watsonplatform.net/visual-recognition/api","image-feature":"classifyImage","lang":"ja","x":473,"y":309,"wires":[["15e7f918.d9e5f7"]]}]